@import "/src/styles/styles.scss";

.TasksList {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  justify-content: flex-start;
  align-items: flex-start;
  list-style: none;
  color: $light-color;
  width: 90%;
  height: 40rem;
  margin: 2rem auto;
}

// .smallTask {
//   padding: 0.2rem;
//   width: 75%;
//   height: 40%;
//   margin-left: 1rem;
// }
// .buttonX {
//   background-color: transparent;
//   outline: none;
//   border: 0.3rem solid red;
//   font-family: "Noto Sans", sans-serif;
//   font-size: 1rem;
//   color: red;
//   text-transform: uppercase;
//   padding: 0.2rem;
//   box-shadow: 0 0.3rem #999;
//   height: 2.5rem;
//   width: 2.5rem;
//   margin: auto;
// }

// .buttonX:active {
//   box-shadow: 0 0.1rem #999;
//   transform: translateY(2px);
// }
