@import "/src/styles/styles.scss";

.TasksList {
  display: flex;
  flex-direction: column;

  justify-content: flex-start;
  align-items: flex-start;

  color: $light-color;
  width: 82%;

  margin: 2rem auto;

  &__div {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1rem;

    &_task {
      width: 80%;
      overflow-wrap: break-word;
      font-size: 1.5rem;
    }

    &_delete {
      font-size: 1.3rem;
      border-radius: 50%;
      border: 0.2rem solid $light-color;
      color: $light-color;
      background-color: inherit;
      outline: none;
      height: 1.7rem;
      width: 1.7rem;
      box-shadow: 0 0.15rem $grey-color;

      display: flex;
      justify-content: center;
      align-items: center;

      &:active {
        box-shadow: 0 0.1rem $grey-color;
        transform: translateY(1px);
      }
    }
  }
}
