.task {
  // padding-top: 4rem;
  margin: 4rem 0;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
}

.paragraph {
  padding: 0.2rem;
  width: 75%;
  height: 40%;
  margin-left: 1rem;
}
