.field {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.input {
  background-color: transparent;
  border: none;
  resize: none;
  outline: none;
  font-family: "Noto Sans", sans-serif;
  color: #4e0161;
  font-size: 1.5rem;

  width: 100%;
  padding: 1rem;

  word-wrap: break-word;
}

.buttonAdd {
  background-color: transparent;
  width: 20%;
  margin: auto;
  outline: none;
  border: 0.2rem solid #4e0161;
  font-family: "Noto Sans", sans-serif;
  color: #4e0161;
  text-transform: uppercase;
  margin-bottom: 0.3rem;
}
.buttonAdd:hover {
  border: 0.3rem solid #4e0161;
}
