// html {
//   font-size: 62.5%;
//   font-family: "Do Hyeon", sans-serif;
//   color: #0d0047;
// }

.main {
  border: 0.2rem solid #4e0161;
  height: 100%;
  width: 100%;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr 8fr;

  background: linear-gradient(
    180deg,
    rgba(176, 255, 221, 1) 0%,
    rgba(248, 255, 190, 1) 93%
  );
}

.name {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}
