@import "../src/styles/styles.scss";
.black {
  background-color: $black-color;
}

.white {
  background-color: rgb(255, 218, 200);
}
.screen {
  min-height: 100vh;
}

.App {
  width: 100%;
  min-height: 100vh;
  border: 0.3rem solid $light-color;

  display: flex;
  flex-direction: column;
  position: relative;

  &__name {
    font-size: 3rem;
    color: $light-color;
    margin: 2rem auto;
  }
  &__button {
    position: absolute;
    left: 1rem;
    top: 1rem;
    background-color: $grey-color;
    border: none;
    border-radius: 50%;
    box-shadow: 0 0.15rem $grey-color;

    &:active {
      box-shadow: 0 0.1rem $grey-color;
      transform: translateY(1px);
    }

    &_icon {
      height: 1.8rem;
      width: 1.8rem;

      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
@media screen and (min-width: 768px) {
  .screen {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .App {
    width: 35rem;

    min-height: 50rem;
    margin: 3rem auto;
  }
}
@media screen and (min-width: 1200px) {
  .App {
    width: 45rem;
    min-height: 65rem;
  }
}
